#CurrentCourses ul > li
{
    position: relative;
}

.hidebtn
{
    -webkit-appearance: none;
    float: right;
    position: absolute;
    top: 6px;
    right: -12px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    border: 0;
    background-color: inherit;
    color: #bcbcbc;
}

.hidebtn:hover
{
    color: #888;
    cursor: pointer;
}

.hidebtn:focus
{
    outline: 0;
}

.hiddenCourse > a
{
    text-decoration: line-through !important;
    color: #bcbcbc !important;
}
