.editbtn
{
    -webkit-appearance: none;
    float: right;
    padding: 0;
    border: 0;
    width: 15px;
    height: 15px;
    background-color: inherit;
    margin-top: 1px;
}

.editbtn:hover
{
    cursor: pointer;
}

.editbtn:focus
{
    outline: 0;
}

.editbtn > svg
{
    fill: #bcbcbc;
}

.editbtn > svg:hover
{
    fill: #888;
}

.cpbtn
{
    display: inline-block;
    cursor: pointer;
    border-radius: 3px;
    background-color: #f8f8f8;
    padding: 0 5px;
    margin-left: 8px;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
}

.cpbtn:hover
{
    background-color: #dadada;
}

.cpfeedback
{
    display: inline-block;
    margin-left: 6px;
    font-size: 12px;
    font-weight: 600;
}

.shortcut
{
    margin-left: 6px;
}

.shortcut:focus
{
    outline: 0;
}

.shortcut > svg
{
    fill: #bcbcbc;
    position: relative;
    top: 2.5px;
}

.shortcut > svg:hover
{
    fill: #888;
}

.liveEditBox
{
    border: 2px dashed #bcbcbc;
    border-radius: 5px;
    padding: 4px;
    margin-top: 7px;
    font-size: 12px;
}

.liveEditBox > .addbtn
{
    padding: 0 !important;
    text-align: center !important;
    font-size: 20px;
    font-weight: 800;
    line-height: 20px;
    user-select: none;
    color: #bcbcbc;
}

.liveEditBox > .addbtn:hover
{
    color: #888;
    cursor: pointer;
}

.liveEditBox > div
{
    padding: 3px;
}

.liveEditBox > div > span
{
    display: inline-block;
    width: 70px;
}

.liveEditBox > div > input
{
    -webkit-appearance: none;
    border: 1px solid;
    border-radius: 2px;
    padding: 2px 3px;
    width: 150px;
    height: 16px;
}

.liveEditBox > div > input:focus
{
    outline: 0;
}

.liveEditBox > div:last-child
{
    text-align: right;
    padding-right: 7px;
}

.liveEditBox .editboxbtn
{
    -webkit-appearance: none;
    margin-left: 10px;
    border: 0 solid;
    border-radius: 2px;
    color: #333;
    background-color: #dadada;
    line-height: 1.8em;
}

.liveEditBox .editboxbtn:hover
{
    cursor: pointer;
    background-color: #ececec;
}

.liveEditBox .editboxbtn:focus
{
    outline: none;
}

.liveEditBox .editboxbtn:nth-last-child(2)
{
    color: #fff;
    background-color: #333;
}

.liveEditBox .editboxbtn:nth-last-child(2):hover
{
    background-color: #444;
}
