.editbtn
{
    -webkit-appearance: none;
    float: right;
    padding: 0;
    border: 0;
    background-color: inherit;
}

.editbtn:hover
{
    color: #888;
    cursor: pointer;
}

.editbtn:focus
{
    outline: 0;
}

.editbtn > svg
{
    fill: #bcbcbc;
}

.editbtn > svg:hover
{
    fill: #888;
}

.liveEditBox
{
    border: 2px dashed #bcbcbc;
    border-radius: 5px;
    padding: 4px;
    margin-top: 7px;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.liveEditBox > .addbtn
{
    padding: 0 !important;
    text-align: center !important;
    font-size: 20px;
    font-weight: 800;
    line-height: 20px;
    user-select: none;
    color: #bcbcbc;
}

.liveEditBox > .addbtn:hover
{
    color: #888;
    cursor: pointer;
}

.liveEditBox > div
{
    padding: 3px;
}

.liveEditBox > div > span
{
    display: inline-block;
    width: 70px;
}

.liveEditBox > div:last-child
{
    text-align: right;
    padding-right: 7px;
}

.liveEditBox .editboxbtn
{
    -webkit-appearance: none;
    margin-left: 10px;
    border: 0 solid;
    border-radius: 2px;
    color: #333;
    background-color: #dadada;
    line-height: 1.8em;
}

.liveEditBox .editboxbtn:hover
{
    cursor: pointer;
    background-color: #ececec;
}

.liveEditBox .editboxbtn:focus
{
    outline: none;
}

.liveEditBox .editboxbtn:nth-last-child(2)
{
    color: #fff;
    background-color: #333;
}

.liveEditBox .editboxbtn:nth-last-child(2):hover
{
    background-color: #4b4b4b;
}
